.header {
  height: 80px;
}

.infoType {
  color: #666;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  display: block;
}

.loadingContainer {
  height: calc(100vh - 80px);
}

.recommendBox {
  margin-top: 104px;
  padding: 0 172px;
}
