.container {
  margin: 28px auto;
}

.slider {
  width: 100%;
}

.button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.unitBox {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.price {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;

  > span {
    padding: 4px;
    background: #ff8e26;
    color: #ffffff;
  }
}
