.itemCard {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid #e9e9e9;
  background: #fff;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.24);
  }
}

.cardInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px 16px 8px 16px;
  gap: 8px;
}

.address {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 700;
  line-height: 20px;
}

.browse {
  font-weight: 400;
  line-height: 20px;
  display: flex;
  gap: 8px;
}

.icon {
  display: flex;
  gap: 8px;
}

.propertyInfo {
  font-weight: 400;
  line-height: 20px;
}

.bottom {
  width: 100%;
  height: 56px;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px 16px 16px;
  transition: transform 0.3s ease;

  &[data-hover='hover'] {
    > .priceTag {
      transform: scale(1.05);
      transform-origin: bottom;
    }
  }
}

// TODO:怎麼做到比例縮放
.imgContainer {
  width: fit-content;
  width: 100%;
  min-width: 200px;
  position: relative;
  margin: auto; /* center horizontally */
  background-color: lightblue;
}

.imgContainer::before {
  content: '';
  display: block;
  padding-top: 60%; /* 16:9 aspect ratio (9/16*100) */
}

//TODO:短解處理hover樣式
.indicators {
  display: flex;
  position: absolute;
  bottom: 10px;
  width: 100%;
  gap: 8px;
  padding: 0 40px;
  justify-content: center;
}

.tagArea {
  position: absolute;
  top: 16px;
  left: 16px;
  display: flex;
  gap: 8px;
}

.carouselControl {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  color: white;
  cursor: pointer;
  z-index: 1;
  border-radius: 95px;
  opacity: 0.8;
  background: #fff;
  padding: 10px;
}

.carouselControl.prev {
  left: 16px;
}

.carouselControl.next {
  right: 12px;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.bookmark {
  top: 15px;
  right: 12px;
  position: absolute;
}

.priceBox {
  display: flex;
  gap: 10px;
  align-items: center;
}

.price {
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.8px;
  font-size: 16px;
  display: inline-block;

  &[data-hover='hover'] {
    transform: scale(1.2);
    transform-origin: bottom;
  }
}
