.cardCarouselBox {
  position: relative;
}

.cardContainer {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  width: 100%;
}

.arrowForward {
  cursor: pointer;
  position: absolute;
  right: -20px;
  top: 152px;
  z-index: 2;
}

.cardBox {
  width: 25%;
}

.arrowBack {
  cursor: pointer;
  position: absolute;
  left: -20px;
  top: 152px;
  z-index: 2;
}
