.checkboxContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: #909090;
  cursor: pointer;
  user-select: none;

  &[data-checked='checked'] {
    color: #333333;
    font-weight: 700;
  }
}
