.header {
  height: 80px;
}

.infoType {
  color: #666;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  display: block;
}

.recommendBox {
  margin-top: 104px;
  padding: 0 172px;
}

.recommendArea {
  margin-bottom: 38px;
}

.recommendTitle {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;

  > span {
    color: #333;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.8px;
    margin: 0 8px;
  }
}
