.header {
  height: 80px;
}

.page {
  position: relative;
  display: flex;
  position: relative;
}

.sideBar {
  width: 400px;
  background: #ffffff;
  height: calc(100vh - 80px);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  transition: width 0.3s;

  &[data-isopen='close'] {
    transform: translateX(-400px);
  }
}

.sideBarHeader {
  border-bottom: 1px solid #e9e9e9;
  padding: 16px 16px 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchResult {
  display: flex;
  gap: 4px;
  align-items: center;

  > span {
    color: #ff8e26;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.8px;
  }

  > div {
    color: #333;
    font-size: 14px;
    font-weight: 400;
  }
}

.sideBarContent {
  overflow-y: auto;
  flex-grow: 1;
  padding: 12px 24px 40px;
  gap: 16px;
}

.filterDropdownGroup {
  display: flex;
  gap: 4px;
}

.filterDropdown {
  width: 174px;
}

.counterGroup {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.sideBarFooter {
  box-shadow:
    0px 4px 16px 0px rgba(17, 17, 26, 0.1),
    0px 8px 32px 0px rgba(17, 17, 26, 0.05);
  display: flex;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
}

.listContainer {
  padding: 16px 24px 24px;
  height: calc(100vh - 80px);
  overflow-y: auto;
}

.buttonArea {
  display: flex;
  gap: 16px;
}

.dropdownButton {
  background: #ffffff;
  width: 124px;
  border-radius: 8px;
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding-top: 16px;
}

.cardContainer {
  min-width: 270px;

  // 側邊欄 400
  // gap 16
  // padding 48
  // 270*n + 16*(n-1) + 448
  flex: 1 1 calc(100% - 48px); // 48兩邊padding
  max-width: calc(100% - 48px);

  // 270 + 448 = 718
  // @media screen and (max-width: 718px) {
  // }

  // 270 * 2 + 16 + 448 = 1004
  @media screen and (min-width: 1004px) {
    flex: 1 1 calc(50% - 64px); // 48兩邊padding + gap
    max-width: calc(50% - 64px);
  }

  // 270 * 3 + 16 * 2 + 448 = 1290
  @media screen and (min-width: 1290px) {
    flex: 1 1 calc(33.3333% - 480px);
    max-width: calc(33.3333% - 480px);
  }

  // 270 * 4 + 16 * 3 + 448 = 1576px
  @media screen and (min-width: 1576px) {
    flex: 1 1 calc(25% - 480px);
    max-width: calc(25% - 480px);
  }

  // TODO
  // 再去算，把沒有把一行撐滿的排除
  // 如果這樣處理的話，是不是能再CSS中去接父層容器寬度，就可以做在元件上
}
